body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.result {
    color: red;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 2;
    grid-row: 1;
}

.three {
    grid-column: span 3;
    grid-row: 1;
}