body {background-color: black;}

.center {
    position: fixed;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: led;
    color: red;
    font-size: 10vw;
}

@font-face {
    font-family: led;
    src: url(../fonts/led.ttf);
}