body {
    background-color: black;
    margin: 0;
    padding: 0;
    background: url(../img/wn.png);
    animation: animate .2s ease infinite;
}

@keyframes animate{
    0%, 
    100% {background-position: 0 0;         transform: rotate(30 deg); }
    10% { background-position: -5%  10%;    transform: rotate(180 deg); }
    20% { background-position: 15%  5%;     transform: rotate(45 deg);}
    30% { background-position: 7% -25%;     transform: rotate(270 deg);}
    40% { background-position:-5%  25%;     transform: rotate(90 deg);}
    50% { background-position: -15%  10%;   transform: rotate(120 deg);}
    60% { background-position: 15%  0%;     transform: rotate(15 deg);}
    70% { background-position: 0%  15%;     transform: rotate(320 deg);}
    80% { background-position: 3%  35%;     transform: rotate(60 deg);}
    90% { background-position:-10%  10%;    transform: rotate(30 deg);}
}

.center {
    position: fixed;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: led;
    color: red;
    font-size: 5vw;
    pointer-events: all;
}

@font-face {
    font-family: led;
    src: url(../fonts/led.ttf);
}


.glitch{
   text-transform:  uppercase;
   text-shadow: 
       0.05em   0       0 rgba(255, 0, 0, .75),
       -0.025em -0.05em 0 rgba(0, 255, 0, .75),
       0.025em  0.05em  0 rgba(0, 0, 255, .75);
    animation: glitch ease 2000ms infinite;
}

@keyframes glitch{
    0% {
        text-shadow: 
        0.05em 0 0 rgba(255, 0, 0, .75),
        -0.05em -0.025em 0 rgba(0, 255, 0, .75),
        -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }
    14% {
        text-shadow: 
        0.05em 0 0 rgba(255, 0, 0, .75),
        -0.05em -0.025em 0 rgba(0, 255, 0, .75),
        -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }
    15%{
        text-shadow: 
        -0.05em -0.025 0 rgba(255, 0, 0, .75),
        0.025em 0.025em 0 rgba(0, 255, 0, .75),
        -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    49%{
        text-shadow: 
        -0.05em -0.025 0 rgba(255, 0, 0, .75),
        0.025em 0.025em 0 rgba(0, 255, 0, .75),
        -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    50% {
        text-shadow: 
        0.025em 0.05 0 rgba(255, 0, 0, .75),
        0.05em  0em 0 rgba(0, 255, 0, .75),
        0em -0.05em 0 rgba(0, 0, 255, .75);
    }
    99% {
        text-shadow: 
        0.025em 0.05 0 rgba(255, 0, 0, .75),
        0.05em  0em 0 rgba(0, 255, 0, .75),
        0em -0.05em 0 rgba(0, 0, 255, .75);
    }
    100%{
        text-shadow: 
        -0.025em 0 0 rgba(255, 0, 0, .75),
        -0.025em -0.025em 0 rgba(0, 255, 0, .75),
        -0.025em -0.05em 0 rgba(0, 0, 255, .75);
    }
}